# Ignore environment and secret files
.env
.venv/
.idea/
.env.test

# Ignore log and cache files
*.log
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore pip bootstrap file if not needed
get-pip.py

# macOS system files
.DS_Store.env.test

# test & dev env files
test_main.py

