# Ignore environment and secret files
.env
.venv/
.idea/

# Ignore log and cache files
*.log
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore pip bootstrap file if not needed
get-pip.py

# macOS system files
.DS_Store